// .headWrapper {
//     width: 80%;
//     margin: 0 auto;
//     max-width: 900px;
//     padding: 60px 80px;
//     border-radius: 25px;
//     text-align: center;
//     flex-wrap: wrap;
//     background-color: rgb(7, 208, 131);
//     color: white;
// }

// .headWrapper form {
//     display: flex;
//     flex-wrap: wrap;
//     padding: 10px;
//     justify-content: center;
// }

// .headWrapper input {
//     padding: 10px;
//     margin-right: 3%;
//     display: inline-block;

//     &:focus,
//     &:hover,
//     &:active {
//         outline: 1px solid white;
//         box-shadow: 5px 5px 20px 10px white;
//     }
// }

// .headWrapper select:focus,
// .headWrapper select:hover {
//     box-shadow: 5px 5px 20px 10px white;
// }
// .wrapper {
//     width: 90%;
//     max-width: 1200px;
//     margin: 0 auto;
// }
.loadingScreen {
    background-color: rgba(94, 90, 90, 0.569);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 99;
    display: none;
    top: 0;
}

.loadingImgHolder {
    width:60%;
    margin:auto;
}
.recipeSearchInput {
    width:70%;
    text-align: center;
    margin-bottom:20px;
}
.cuisineFilterHolder {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.cuisineCheckboxHolder {
    width: 40%;
    display:flex;
    // justify-content: space-between;
    align-items: center;
    margin:10px;
    font-size:1.2rem;
}

.cuisineCheckboxHolder label {
white-space: nowrap;
}

.recipeList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0px;
}

.recipeCard {
    color: $silver;
    background-color: $van-dyke;
    width: calc((100% / 2) - 50px);
    list-style: none;
    // border: 2px solid black;
    margin: 10px;
    padding: 10px 30px;
    text-align: center;
}

.paginationContainer {
    display: flex;
    align-items: center;
    // position: absolute;
    bottom: 0;
    justify-content: center;
}

.paginationNumber,
.paginationButton {
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
    color: $silver;
}

.paginationNumber:hover,
.paginationButton:not(.disabled):hover {
    background: #fff;
}

.paginationNumber.active {
    color: #fff;
    background: #0085b6;
}
.active {
    background-color: green;
}

.hidden,.disabled {
    display:none;
}