
.recipeModal {
    // display: none;
    background-color: #0a0a0a87;
    width: 100vw;
    // height: 100vw;
    position: fixed;
    z-index: 99;
    top:0;
    left:0;
    overflow-y:scroll;
    height:100vh;
}
.recipeDetailCard {
    width:80%;
    padding:10px;
    background-color: white;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y:scroll;
    max-width:650px;
}
.modalClose {
    width:40px;
    background-color: transparent;
    border:none;
}
.recipeSummary {
text-align:center;
width:100%
}
.recipeSummary img {
    width:100%;
}

.recipeHowTo {
    padding-left:10px;
}
.recipeDetailsTitle {
    color:$caf-noir;
}
.instructionsList li {
    margin:20px;
}

.ingredientList li{
    margin:10px;
}
.dietList {
    list-style: none;
    display:flex;
    // justify-content: space-evenly;
    padding-left:0px;
}
.dietList li {
    background-color:#7fffd484;
    padding:10px;
    border-radius: 25px;
    text-align:center;
    margin:10px;
}
.ingredientList:before, .instructionsList:before {
    content: attr(aria-label);
    // font-size: 120%;
    font-weight: bold;
    // margin-left: -15px;
}